/* body{
background-image: url("DevelopedCity1.jpg");
background-repeat: no-repeat;
background-position: relative; 
background-position: 50%;
background-size: 2000px;
}  */

#info{
    padding-top: 1%;
    background-color: rgb(0, 183, 255);
    text-indent:73%;
    font-weight: 700;
    padding-bottom: 1%;
}
/* .row{
    margin: 8%;
} */
#explore{
    margin-top:8%;
}
.col-md-4{
    text-align: center;
}
.col-md-6{
    text-align: center;
}
.left{
    margin-top: 6%;
    text-indent: 55%;
}
.right{
    margin-top: 6%;
    text-indent: 25%;
}
.btn{
    margin-bottom: 5%;
}
.nav-item{
    padding-right: 20px;
    color: #fff;
}
.nav-link{
    color:#fff;
    font-weight: 100px;
}
#select{
    margin-top: 3%;
}
#facatt{
    width: 300px;
    height: 200px;
    font-size: 30px;
    margin-top: -50px;
}
#facmarks{
    width: 300px;
    height: 200px;
    font-size: 30px;
    margin-top: -50px;
}
#facnot{
    margin-top: 35px;
    width: 300px;
    height: 200px;
    font-size: 30px;
}
#facmat{
    margin-top: 35px;
    width: 300px;
    height: 200px;
    font-size: 30px;
}
#info{
    height: 130px;
}
#a1{
    margin-top: 8px;
    font-size: 21px;
}
#a2{
    margin-top: 6px;
    font-size: 21px;
}
#a3{
    display: flex;
    text-align: left;
    margin-left: -30px;
    margin-bottom: 0px;
    padding: 0px;
    text-decoration: none;
    color: black;
}
#a5{
    display: flex;
    text-align: left;
    margin-left: -30px;
    margin-bottom: 0px;
    padding: 0px;
    text-decoration: none;
    color: black;
}
#a4{
    display: flex;
    text-align: left;
    margin-top: -50px;
    padding-top: 0px;
}
#a6{
    display: flex;
    text-align: left;
    margin-top: -50px;
    padding-top: 0px;
}
#stuatt{
    width: 250px;
    height: 180px;
    font-size: 30px;
    margin-top: -40px;
}
#stugra{
    width: 250px;
    height: 180px;
    font-size: 30px;
    margin-top: -40px;
}
#stumat{
    width: 250px;
    height: 180px;
    font-size: 30px;
    margin-top: -40px;
}
#stucom{
    width: 250px;
    height: 180px;
    font-size: 30px;
    margin-left: -37px; 
    margin-top: -40px;
}
#stunot{
    width: 250px;
    height: 180px;
    font-size: 30px;
    margin-left: -61px;
    margin-top: -40px; 
}
#table{
    margin-top: 50px;
    text-align: center;
}
.border-success {
    --bs-border-opacity: 0;
    border-color: rgba(var(--bs-success-rgb), var(--bs-border-opacity)) !important;
  }